.courses {
    background-color: var(--gray-000);
    .home-course {
        display: flex;
        justify-content: start;
        align-items: center;
        gap: 1rem;

        .home-and-course {
            display: flex;
            justify-content: start;
            align-items: center;
            gap: 0.5rem;

            .fa-house {
                color: var(--gray-600);
            }

            .home {
                color: var(--gray-600);
                margin-bottom: 0;
            }

            &:hover {
                .home,
                .fa-house {
                    color: var(--black);
                }

                text-decoration: none;
                cursor: pointer;
            }
        }

        .fa-angles-right {
            color: var(--gray-600);
        }

        .courses {
            color: var(--theme);
            margin-bottom: 0;
        }
    }

    .bord {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        @include lg {
            flex-direction: row;
            justify-content: space-between;
        }

        .dropdown-links {
            display: flex;
            flex-direction: column;
            gap: 1rem;

            @include lg {
                display: flex;
                justify-content: space-between;
                align-items: center;
                flex-direction: row;
                gap: 1rem;
            }

            .dropbtn {
                background-color: #fff;
                color: var(--gray-600);
                width: 200px;
                height: 30px;
                font-size: 12px;
                border: none;
                border: 1px solid var(--gray-600);
                cursor: pointer;

                .fa-regular {
                    padding-left: 85px;
                }
            }

            .dropdown {
                position: relative;
                display: inline-block;
            }

            .dropdown-content {
                display: none;
                position: absolute;
                background-color: #f9f9f9;
                min-width: 160px;
                box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
                z-index: 1;
            }

            .dropdown-content a {
                color: var(--gray-600);
                padding: 12px 16px;
                text-decoration: none;
                display: block;
                font-size: 12px;
            }

            .dropdown-content a:hover {
                background-color: #f1f1f1;
            }

            .dropdown:hover .dropdown-content {
                display: block;
            }

            .dropdown:hover .dropbtn {
                background-color: #ffffff;
            }

            .search {
                position: relative;
                display: flex;
                align-items: center;
                gap: 1rem;

                input {
                    border: 1px solid var(--gray-600);
                    font-size: 80%;
                    padding-left: 0.5rem;
                    width: 200px;
                    height: 30px;
                    border-radius: 0;
                }

                button {
                    position: absolute;
                    right: 0;
                    padding: 0.5rem;
                    border: none;
                    background: transparent;
                    color: var(--black);
                    border-radius: 5px;
                    color: var(--gray-600);
                    cursor: pointer;
                }
            }
        }
    }

    .grid {
        display: grid;
        gap: 2rem;
        margin-top: 1rem;

        @include md {
            grid-template-columns: repeat(2, 1fr);
        }

        @include lg {
            grid-template-columns: repeat(3, 1fr);
        }
    }

    .course-card {
        position: relative;

        .img-card {
            width: 100%;
        }

        .bookmark {
            position: absolute;
            top: 1rem;
            right: 1rem;
            background: var(--white);
            padding: 0.5rem;
            border-radius: 50%;
            cursor: pointer;
            transition: 0.3s;

            &:hover {
                background: var(--theme);
                color: var(--white);
            }
        }

        .bestseller {
            position: absolute;
            top: 1rem;
            left: 1rem;
            background: var(--success);
            color: var(--white);
            padding: 0.5rem;
            border-radius: 5px;

            p {
                margin: 0;
            }
        }

        .price {
            display: flex;

            .original-price {
                color: var(--theme);
                font-weight: 700;
                margin-right: 1rem;
            }

            .discounted-price {
                color: var(--danger);
                margin-right: 1rem;
            }

            .discounted-price-line-through {
                color: var(--gray-600);
                text-decoration: line-through;
            }
        }

        .line {
            border-top: 1px solid var(--gray-400);
            margin-left: 1rem;
            margin-right: 1rem;
        }

        &__footer {
            display: flex;
            gap: 2rem;
            padding: 1rem;

            div {
                display: flex;
                align-items: center;
                gap: 0.5rem;
            }

            p {
                margin: 0;
            }
        }

        course-card_body {
            padding-left: 1rem;
        }
    }

    .pagination {
        display: flex;
        justify-content: center;
        margin-top: 50px;
    }

    .pagination a {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30px;
        height: 30px;
        margin: 0 5px;
        border-radius: 5px;
        text-decoration: none;
        padding: 0;

        @include lg {
            width: 40px;
            height: 40px;
        }
    }

    .pagination a i {
        margin: 0;
    }

    .banner {
        display: flex;
        justify-content: space-around;
        align-items: center;
        background-color: var(--theme-opacity);
        margin-top: 50px;
        padding: 50px;

        .banner-text {
            div {
                @include lg {
                    display: flex;
                    flex-direction: column;
                    justify-content: left;
                    margin-right: 1rem;
                }

                .skills-text {
                    flex-direction: row;

                    .h2 {
                        margin-right: 0.7rem;
                    }
                }
            }

            .blue {
                color: var(--theme);
            }

            .btn-theme {
                margin-top: 1rem;
                width: fit-content;
            }
        }

        .banner-img {
            display: none;

            @include lg {
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }
}

        /*.courses {

    .home-course {
        display: flex;
        justify-content: start;
        align-items: center;
        gap: 1rem;


        .home-and-course {
            display: flex;
            justify-content: start;
            align-items: center;
            gap: 0.5rem;

            .fa-house {
                color: $gray-600;
            }

            .home {
                color: $gray-600;
                margin-bottom: 0;
            }


            &:hover {
                .home,
                .fa-house {
                    color: $black;
                }

                text-decoration: none;
                cursor: pointer;
            }
        }



        .fa-angles-right {
            color: $gray-600;
        }

        .courses {
            color: $theme;
            margin-bottom: 0;
        }
    }

    .bord {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        @include lg {
            flex-direction: row;
            justify-content: space-between;
        }


        .dropdown-links {
            display: flex;
            flex-direction: column;
            gap: 1rem;

            @include lg {
                display: flex;
                justify-content: space-between;
                align-items: center;
                flex-direction: row;
                gap: 1rem;
            }

            .dropbtn {
                background-color: #fff;
                color: $gray-600;
                width: 200px;
                height: 30px;
                font-size: 12px;
                border: none;
                border: 1px solid $gray-600;
                cursor: pointer;

                .fa-regular {
                    padding-left: 85px;
                }
            }


            .dropdown {
                position: relative;
                display: inline-block;
            }


            .dropdown-content {
                display: none;
                position: absolute;
                background-color: #f9f9f9;
                min-width: 160px;
                box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
                z-index: 1;
            }

            .dropdown-content a {
                color: $gray-600;
                padding: 12px 16px;
                text-decoration: none;
                display: block;
                font-size: 12px;
            }

            .dropdown-content a:hover {
                background-color: #f1f1f1
            }

            .dropdown:hover .dropdown-content {
                display: block;
            }

            .dropdown:hover .dropbtn {
                background-color: #ffffff;
            }

            .search {
                position: relative;
                display: flex;
                align-items: center;
                gap: 1rem;



                input {
                    border: 1px solid $gray-600;
                    font-size: 80%;
                    padding-left: 0.5rem;
                    width: 200px;
                    height: 30px;
                    border-radius: 0;
                }

                button {
                    position: absolute;
                    right: 0;
                    padding: 0.5rem;
                    border: none;
                    background: transparent;
                    color: $black;
                    border-radius: 5px;
                    color: $gray-600;
                    cursor: pointer;
                }
            }
        }
    }

    .grid {
        display: grid;
        gap: 2rem;
        margin-top: 1rem;

        @include md {
            grid-template-columns: repeat(2, 1fr);
        }

        @include lg {
            grid-template-columns: repeat(3, 1fr);
        }
    }

    .course-card {
        position: relative;

        .img-card {
            width: 100%;
        }

        .bookmark {
            position: absolute;
            top: 1rem;
            right: 1rem;
            background: $white;
            padding: 0.5rem;
            border-radius: 50%;
            cursor: pointer;
            transition: 0.3s;

            &:hover {
                background: $theme;
                color: $white;
            }
        }

        .bestseller {
            position: absolute;
            top: 1rem;
            left: 1rem;
            background: $success;
            color: $white;
            padding: 0.5rem;
            border-radius: 5px;

            p {
                margin: 0;
            }
        }

        .price {
            display: flex;

            .original-price {
                color: $theme;
                font-weight: 700;
                margin-right: 1rem;
            }

            .discounted-price {
                color: $danger;
                margin-right: 1rem;
            }

            .discounted-price-line-through {
                color: $gray-600;
                text-decoration: line-through;
            }
        }


        .line {
            border-top: 1px solid $gray-400;
            margin-left: 1rem;
            margin-right: 1rem;
        }

        &__footer {
            display: flex;
            gap: 2rem;
            padding: 1rem;

            div {
                display: flex;
                align-items: center;
                gap: 0.5rem;
            }

            p {
                margin: 0;
            }
        }

        .course-card_body {
            padding-left: 1rem;
        }
    }

    .pagination {
        display: flex;
        justify-content: center;
        margin-top: 50px;
    }

    .pagination a {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30px;
        height: 30px;
        margin: 0 5px;
        border-radius: 5px;
        text-decoration: none;
        padding: 0;

        @include lg {
            width: 40px;
            height: 40px;
        }
    }

    .pagination a i {
        margin: 0;
    }



    .banner {
        display: flex;
        justify-content: space-around;
        align-items: center;
        background-color: $theme-opacity;
        margin-top: 50px;
        padding: 50px;

        .banner-text {

            div {
                @include lg {
                    display: flex;
                    flex-direction: column;
                    justify-content: left;
                    margin-right: 1rem;
                }


                .skills-text {
                    flex-direction: row;


                    .h2 {
                        margin-right: 0.7rem;
                    }
                }
            }

            .blue {
                color: $theme;
            }

            .btn-theme {
                margin-top: 1rem;
                width: fit-content;
            }
        }

        .banner-img {
            display: none;

            @include lg {
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }
}
*/
