#signup {
    height: 100%;

    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;

        @include lg {
            width: 60%;
        }

        @include lg {
            width: 45%;
        }

        form {

            .content {
                display: grid;
                gap: 1rem 2rem;

                @include md {
                    grid-template-columns: 1fr 1fr;
                }
            }
        }
    }
}
