@model HomeIndexViewModel




@{
    ViewData["Title"] = "Overview";

    var dontWantModel = new WebApp.ViewModels.DontWantViewModel();

}


@* <header>
    @await Html.PartialAsync("~/Views/Shared/Sections/_HeaderPartial.cshtml")
</header> *@


@await Html.PartialAsync("~/Views/Sections/_Showcase.cshtml", Model.Showcase)


<section id="features">
    @await Html.PartialAsync("~/Views/Sections/_Features.cshtml")
</section>

<section id="manage">
    @await Html.PartialAsync("~/Views/Sections/_Manage.cshtml")
</section>

<section id="download">
    @await Html.PartialAsync("~/Views/Sections/_Download.cshtml")
</section>

<section id="integrate">
    @await Html.PartialAsync("~/Views/Sections/_Integrate.cshtml")
</section>

<section id="dontWant">
    @await Html.PartialAsync("~/Views/Sections/_DontWant.cshtml", dontWantModel)
</section>

@* <section id="dontWant">
    @await Html.PartialAsync("~/Views/Shared/Sections/_DontWant.cshtml")
</section> *@

@* <footer>
    @await Html.PartialAsync("~/Views/Shared/Sections/_FooterPartial.cshtml")
</footer> *@



