<section class="contact">
            <div class="container">
                <div class="home-contact">
                    <a class="home-and-contact">
                        <i class="fa-light fa-house"></i>
                        <p class="home">Home</p>
                    </a>
                    
                    <i class="fa-light fa-angles-right"></i>
                    <p class="contact">Contact</p>
                </div> 

                <div class="contact-info">
                    <h1>Contact Us</h1>

                    <div class="email-us">
                        <div class="email-icone">
                            <div class="round">
                                <i class="fa-regular fa-envelope"></i>
                            </div>
                        </div>

                        <div class="email-text">
                            <h4>Email Us</h4>
                            <p>Please feel free to drop us a line. We will respond as soon as possible.</p>
                            <a href="#">Leave a message <i class="fa-regular fa-arrow-right"></i></a>
                        </div>
                    </div>

                    <div class="careers">
                        <div class="careers-icone">
                            <div class="round">
                                <i class="fa-thin fa-users-medical"></i>
                            </div>
                        </div>   

                        <div class="careers-text">
                            <h4>Careers</h4>
                            <p>Sit ac ipsum leo lorem magna nunc mattis maecenas non vestibulum.</p>
                            <a href="#">Send an application <i class="fa-regular fa-arrow-right"></i></a>
                        </div>
                </div>
        
                </div>

                <div class="get-in-contact">
                    <h2>Get In Contact With Us</h2>
                    <i class="fa-solid fa-angle-down"></i>
                    <div class="contact-form">
                        <form action="contact.php" method="post">
                            <div class="form-group">
                                <label for="full-name">Full Name</label>
                                <input type="text" class="form-control" id="full-name" name="full-name" required>

                                <label for="email">Email Address</label>
                                <input type="email" class="form-control" id="email" name="email" required>

                                <label for="service">Service</label>
                                <select class="form-control" id="service" name="service">
                                    <option value="default">Choose a service</option>
                                    <option value="web-development">Web Development</option>
                                    <option value="app-development">App Development</option>
                                    <option value="design">Design</option>
                                    <option value="other">Other</option>
                                </select>

                                <label class="message" for="message">Message</label>

                                <textarea class="form-control" id="message" name="message" required></textarea>

                                <button type="submit" class="btn-theme">Send Contact Request</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>  

            <div class="map">
                <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3154.647577291772!2d-122.40395378427882!3d37.73271222976797!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x808f7e035433c3cf%3A0x14687cb1c0e11947!2sSilver%20Terrace%2C%20San%20Francisco%2C%20CA%2C%20USA!5e0!3m2!1sen!2sua!4v1695733588761!5m2!1sen!2sua"
                width="100%"
                height="870"
                style="border:0;"
                allowFullScreen=""
                loading="lazy"
                referrerPolicy="no-referrer-when-downgrade"
                title="Google Maps"
                ></iframe>
            </div>  
        </section>