<div class="dontWant">
    <div class="container">
        <div class="headning">
            <h1>Don't Want to Miss Anything?</h1>
            <img src="/images/Group.svg" alt="symbol of arrow">
        </div>

        <div class="contentSignUp">
            <form action="">
                <div class="contentSign">
                    <div class="column">
                        <h6>Sign up for <br> Newsletters</h6>
                    </div>
                    <div class="column">
                        <div>
                            <input type="checkbox" id="newsletterCheckbox1" name="newsletterCheckbox1">
                            <label for="newsletterCheckbox1">Daily Newsletter</label>
                        </div>
                        <div>
                            <input type="checkbox" id="newsletterCheckbox2" name="newsletterCheckbox2">
                            <label for="newsletterCheckbox2">Event Updates</label>
                        </div>
                    </div>
                    <div class="column">
                        <div>
                            <input type="checkbox" id="newsletterCheckbox3" name="newsletterCheckbox3">
                            <label for="newsletterCheckbox3">Advertising Updates</label>
                        </div>
                        <div>
                            <input type="checkbox" id="newsletterCheckbox4" name="newsletterCheckbox4">
                            <label for="newsletterCheckbox4">Startups Weekly</label>
                        </div>
                    </div>
                    <div class="column">
                        <div>
                            <input type="checkbox" id="newsletterCheckbox5" name="newsletterCheckbox5">
                            <label for="newsletterCheckbox5">Week in Review</label>
                        </div>
                        <div>
                            <input type="checkbox" id="newsletterCheckbox6" name="newsletterCheckbox6">
                            <label for="newsletterCheckbox6">Podcasts</label>
                        </div>
                    </div>
                </div>
            </form>

        </div>

        <div class="contentEmail">
            <form action="">
                <div class="email">
                    <input type="email" class="email-input" placeholder="Your email">
                    <button class="btn-theme-s" type="submit">Subscribe*</button>
                </div>
                <p>* Yes, I agree to the <a href="#">terms</a> and <a href="#">privacy policy</a>.</p>
            </form>
        </div>

    </div>
</div>